{% extends "base.html" %}
{% load static %}
<head>
  <title>
    BeckyG - Home
  </title>
</head>
{% block nav %}
<li class="active"><a href="">home</a></li>
<li><a href="#">Music</a></li>
<li><a href="#">Merch</a></li>
<li><a href="about/">About</a></li>
{% endblock nav %}

{% block base %}

<div>
  <h3>
    Early Life
  </h3>
</div>

<div class="a-card">
  <div class="p-image">
    <img src="{% static 'resources/images/beckyg8.jpg' %}">
  </div>
  <div class="p-card text">
    <p>
      Becky G's real name is Rebbeca Marie Gomez. She was born on March 2 1997 in Inglewood, California.
      Gomez grew up in Moreno Valley, and at the age of nine her family lost their home and moved into
      the converted garage of her grandparents' house due to financial problems. Gomez began working
      part-time jobs to help support her family, doing commercials and voice over work. She had what
      she described as a "mid-life crisis" when she was nine years old, and decided she wanted to pursue a
      music career. She was quoted as stating "That was literally my mid-life crisis when I was nine
      years old. That's when I felt like, 'OK, I gotta get my life together. What am I gonna do?' I pushed
      that on myself at a younger age than the average kid because at the time my family had lost our home.
      I've always been more mature for my age, so I was already understanding what they were going through.
      And I just thought, 'How can I help them?'" She initially attended public school, though had to undergo
      home schooling due to issues with bullying. She claimed that at one point she was jumped by multiple girls
      while in the restroom, and was a frequent target due to her jobs in the entertainment industry.
    </p>
  </div>
</div>

<div>
  <h3>
    Music Career
  </h3>
</div>

<div class="a-card">
  <div>
    <img id="pimage" src="{% static 'resources/images/beckyg8.jpg' %}">
  </div>
  <div class="p-card text">
    <p>
      Gomez first gained recognition in 2011 when she began posting videos of herself covering popular songs
      online. One of her videos caught the attention of producer Dr. Luke, who subsequently offered her a
      joint record deal with Kemosabe Records and RCA Records. While working on her debut effort, Gomez
      collaborated with artists will.i.am, Cody Simpson and Cher Lloyd. Her official debut single, "Becky
      from the Block" (2013), received a positive reception upon its release. She released her debut extended
      play, Play It Again (2013), later that same year. Her second single, "Can't Get Enough" (2014), featured
      guest vocals from Pitbull and went on to top the Latin Rhythm Airplay chart in the United States.
      Gomez achieved mainstream success with the release of "Shower" (2014), which went on to enter the top
      twenty of the Billboard Hot 100 chart.
    </p>
  </div>
</div>
{% endblock base %}

<!-- The single would go on to receive a multi platinum certification
      from the Recording Industry Association of America (RIAA), denoting two million units sold in the country.
      Following the success of "Shower", Gomez released "Can't Stop Dancin'" (2014), "Lovin' So Hard" and
      "Break a Sweat" (2015) as singles from her forthcoming album. She embarked on a co-headlining tour with
      J Balvin throughout September and October 2015, spanning throughout the United States. She portrayed
      Valentina Galindo in two episodes of the musical television series Empire, contributing two new songs to
      the soundtrack of the series called "Do It" and "New New". Gomez was featured on the song "Superstar" (2016)
      with Pitbull. She released her first Spanish song, "Sola" as the lead single from her Spanish debut studio
      album. -->