{% extends "bio/base.html" %}
{% load static %}

{% block nav %}
<li><a href="../">home</a></li>
<li><a href="#">Music</a></li>
<li><a href="#">Merch</a></li>
<li class="active"><a href="">About</a></li>
{% endblock nav %}

{% block base %}
<div>
  <h3>
    About
  </h3>
</div>
<div class="p-card a-card text">
  <p>
    This website was made by Silicon Raven in an effort to make people know more about
    Becky G and to learn how to develop a website in Django.
  </p>
</div>

{% endblock base %}