* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.image {
    border: 1px transparent;
    border-radius: 10px;
    /* padding: 10px; */
    padding-right: 30px;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    }   
    /* img:hover {
    box-shadow: 0 0 2px 1px rgba(243, 247, 3, 0.5);
    } */

.icon{

    border-radius: 50%;
    width: 6%;
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    margin: 5px 0px 5px 15px;
    float: inline-start;
    }
    .icon:hover {
    box-shadow: 0 0 3px 4px aqua;
    cursor: pointer;
    
}

.logo{
    width: 12%;
    padding-left: 150px;
}

.text {
    display: inline-block;
    vertical-align: bottom;
}

.active{
    background-color: rgb(32, 32, 32);
}


/* ################## SECTIONS ################## */

#top-section{
    background-color: #333333;
    display: flex;
    justify-content: center;
}



/* ############################################ */


h2 {
    font-family: 'Great Vibes', cursive;
    color: aqua;
}

h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 200%;
    text-align: center;
    color: white;
    padding: 3%;
    text-shadow: 2px 2px 2px black;
}
body {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../resources/images/beckyg2.862729b5da90.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    
}
p {
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
    display: flow-root;
    text-shadow: 2px 2px 2px black;
    /* flex-wrap: wrap-reverse; */
}



nav{
    float: right;
    margin-top: 2.5%;
}

nav ul{
    float: right;
    list-style: none;

}

nav li{
    display: inline;
    padding: 17px;    
    background-color: transparent;
    border-radius: 25px;
}

nav li:hover{
    background-color: yellow;
    transition: all ease-in 350ms;
}

nav li:active{
    background-color: #fd1302;
}

nav a{
    color: yellow;
    text-decoration: none;
}
nav a:hover{
    color: black;
    text-decoration: none;
}